<div ng-init="c.init()">

    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col-sm-12 white-background">
                <h1>Practicums</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 white-background">
                <table class="table">
                    <tr>
                        <th>Naam</th>
                        <th>Jouw status</th>
                        <th>Vraag</th>
                        <th></th>
                    </tr>
                    <tr class="table-rows" ng-repeat="practicum in c.practicums">
                        <td ui-sref="practicum({id:practicum._id})" style="cursor:pointer">{{practicum.name}}</td>
                        <td class="statuses">
                            <span class="fa fa-battery-empty fa-2x" style="cursor:pointer" ng-class="{selected: practicum.practicum_users[0].status == 'open'}" ng-click="c.updateState(practicum.practicum_users[0], 'open')" title="Te doen"></span>
                            <span class="fa fa-battery-half fa-2x" style="cursor:pointer" ng-class="{selected: practicum.practicum_users[0].status == 'in_progress'}"  ng-click="c.updateState(practicum.practicum_users[0], 'in_progress')" title="Bezig"></span>
                            <span class="fa fa-battery-full fa-2x" style="cursor:pointer" ng-class="{selected: practicum.practicum_users[0].status == 'closed'}" ng-click="c.updateState(practicum.practicum_users[0], 'closed')" title="Afgesloten"></span>
                        <td><input class="form-control input-sm" style="width: 90%;" ng-model="practicum.practicum_users[0].question" ng-blur="c.updateQuestion(practicum.practicum_users[0])" title="Formuleer hier je vraag"/></td>
                        <td><a class="btn btn-default" ui-sref="practicum({id:practicum._id})">Details</a></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>