<div ng-init="c.init()">

    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col-sm-12 white-background">
                <h1>Practicums</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 white-background">
                <table class="table">
                    <tr>
                        <th>Naam</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="practicum in c.practicums ">
                        <td>{{practicum.name}}</td>
                        <td class="statuses">
                            <span class="fa fa-battery-empty" ng-class="{selected: practicum.practicum_users[0].status == 'open'}"></span>
                            <span class="fa fa-battery-half" ng-class="{selected: practicum.practicum_users[0].status == 'in_progress'}"></span>
                            <span class="fa fa-battery-full" ng-class="{selected: practicum.practicum_users[0].status == 'closed'}"></span>
                            <span class="fa fa-question" ng-class="{selected: practicum.practicum_users[0].status == 'need_help'}"></span>
                        </td>
                        <td><a class="btn btn-default" ui-sref="practicum({id:practicum._id})">Details</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>