@import "colors";
@import "login";

body, html {
  height: 100%;
  background-repeat: no-repeat;
  background: #152340; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#152340, #1A253C); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#152340, #1A253C); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#152340, #1A253C); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#152340, #1A253C); /* Standard syntax */
  .max-height{
    height:100%;
  }
}

.navbar{
  border-radius: 0 !important;
}

.nav-tabs>li{
  cursor: pointer !important;
  >a{
    color:black;
  }
  &.active{
    >a{
      font-weight: bold;
    }
  }
}

.error{
  color: $color_error;
}

.intro{
  background-image: url('../../images/background_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.white-background{
  background: white;
}

.statuses{
  .selected{
    color:green;
  }
  :not(selected){
    color: silver;
  }
}
.table-rows:hover{
  background-color:#F2F2F2;
}

